* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ef5f4c;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff 56%;

  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --ff-sans: "Poppins", sans-serif;

  --fw-base: 400;
  --fw-bold: 700;

  --fs-md: 0.875rem;
  --fs-lg: 1.5rem;

  --py-md: 1rem;
  --py-lg: 2rem;

  --px-md: 1rem;
  --px-lg: 2rem;
}

html {
  font: var(--fw-base) var(--fs-md) / 170% var(--ff-sans);
  color: var(--text-color-primary);
}

h1 {
  font: var(--fw-bold) var(--fs-lg) / 125% var(--ff-sans);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  & img {
    display: block;
  }
}
