* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ef5f4c;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff 56%;

  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --ff-sans: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-base: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;

  --py-md: 1rem;
  --py-lg: 2rem;

  --px-md: 1rem;
  --px-lg: 2rem;
}

@media (width >= 1280px) {
  :root {
    --fs-lg: 2rem;

    --py-md: 1.25rem;
    --py-lg: 2rem;

    --px-md: 2rem;
    --px-lg: 2rem;
  }
}

html {
  font: var(--fw-regular) var(--fs-base) / 170% var(--ff-sans);
  color: var(--text-color-secondary);
}

body {
  background-color: var(--surface-color);
}

h1 {
  font: var(--fw-bold) var(--fs-lg) / 125% var(--ff-sans);
  color: var(--text-color-primary);
  margin-block: 1rem 0.5rem;
}

a {
  display: inline-block;
  text-decoration: none;
  font: var(--fw-regular) var(--fs-md) / 150% var(--ff-sans);
  color: inherit;

  & img {
    display: block;
  }
}

ul[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
}
