header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 32px;
  font: var(--text-md);
}

#profile {
  display: flex;
  gap: 32px;
}

#profile img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50%;
}

#profile > div {
  padding-block: 4px;
  max-width: 384px;
}

#profile div h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  list-style: none;
  width: 280px;
}

#info li {
  display: flex;
  gap: 8px;
  align-items: center;
}
