#photo {
  --py-md: 1.5rem;

  background-color: var(--background-color);

  & .cards {
    grid-template-columns: 1fr;
  }

  & img {
    width: 100%;
  }

  @media (width >= 1280px) {
    & .cards {
      gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
