#profile {
  & #info {
    & img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }

  & ul {
    margin-top: 2rem;

    & li {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
}
