#profile {
  & .container {
    padding-inline: var(--px-md);
  }

  & #info {
    & img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }

  & ul {
    width: 17.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    & li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
    }
  }

  @media (width >= 1280px) {
    & .container {
      padding-inline: 0;
    }

    & #info {
      margin-right: auto;
      gap: 2rem;

      & img {
        width: 11rem;
        height: 11rem;
      }

      & #about {
        margin-block: 0.25rem;
        width: 24rem;
      }
    }
  }
}
