.container {
  --max-width: 360px;

  width: min(var(--max-width), 100% - var(--px-md) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.even-columns {
  flex-direction: column;
}

@media (width >= 1280px) {
  .container {
    --max-width: 1280px;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    flex-direction: row;
  }
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.items-center {
  align-items: center;
}

.py-md {
  padding-block: var(--py-md);
}

.py-lg {
  padding-block: var(--py-lg);
}

.px-md {
  padding-inline: var(--px-md);
}

.px-lg {
  padding-inline: var(--px-lg);
}
